<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type+"text/css" href+"views/style.css">
    <title>title is here</title>
  </head>
  
  <body class="body">
  <p style="color:blue";>Product is here:</p>
  <h1><%=@answer%></h1>
  </body>
</html>